{# templates/caisse/_products.html.twig #}
<div class="d-flex flex-wrap gap-2 justify-content-center">
  {% for p in products %}
    {% if p.isAvailable and p.productQuantity > 0 %}
      <button type="button"
              class="btn btn-outline-secondary"
              onclick="addToTicket({{ p.id }}, '{{ p.productName|e('js') }}', {{ p.productUnitPrice }})">
        {{ p.productName }}
      </button>
    {% else %}
      <button type="button" class="btn btn-outline-secondary" disabled>
        {{ p.productName }} (rupture)
      </button>
    {% endif %}
  {% endfor %}
</div>
